In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#read in hurricane data
charlie = pd.read_csv('../datasets/charlie.csv')
frances = pd.read_csv('../datasets/frances.csv')
harvey = pd.read_csv('../datasets/harvey.csv')
ike = pd.read_csv('../datasets/ike.csv')
irene = pd.read_csv('../datasets/irene.csv')
irma = pd.read_csv('../datasets/irma.csv')
ivan = pd.read_csv('../datasets/ivan.csv')
katrina = pd.read_csv('../datasets/katrina.csv')
maria = pd.read_csv('../datasets/maria.csv')
matthew = pd.read_csv('../datasets/matthew.csv')
michael = pd.read_csv('../datasets/michael.csv')
rita = pd.read_csv('../datasets/rita.csv')
sandy = pd.read_csv('../datasets/sandy.csv')
wilma = pd.read_csv('../datasets/wilma.csv')

In [3]:
df_full = pd.concat([charlie, frances, harvey, ike, irene, irma, ivan, katrina, maria, matthew, michael, rita, sandy, wilma])

In [4]:
df_full.head(5)

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,lq_avg_wkly_wage_99_unclassified.3,lq_qtrly_estabs_99_unclassified.3,lq_month3_emplvl_99_unclassified.3,qtrly_estabs_48_49_transportation_and_warehousing.3,avg_wkly_wage_48_49_transportation_and_warehousing.3,month3_emplvl_48_49_transportation_and_warehousing.3,lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,lq_qtrly_estabs_48_49_transportation_and_warehousing.3,lq_month3_emplvl_48_49_transportation_and_warehousing.3,quarter.3
0,Charlie,12095,227.0,0.0,0.0,0.00,0.65,0.00,6576.0,773.0,...,0.73,0.78,0.97,736.0,693.0,19219.0,0.93,0.97,0.95,1.0
1,Charlie,12087,26.0,0.0,0.0,0.00,0.55,0.00,648.0,649.0,...,0.95,0.48,0.84,137.0,608.0,838.0,0.95,1.35,0.72,1.0
2,Charlie,12049,118.0,0.0,0.0,0.00,18.63,0.00,47.0,431.0,...,0.52,0.33,0.49,17.0,0.0,0.0,0.00,1.26,0.00,1.0
3,Charlie,12027,119.0,0.0,0.0,0.00,16.85,0.00,46.0,576.0,...,0.57,0.98,3.10,18.0,0.0,0.0,0.00,1.23,0.00,1.0
4,Charlie,12021,98.0,291.0,9653.0,0.85,0.80,9.29,2131.0,679.0,...,0.98,0.73,0.99,195.0,787.0,1450.0,1.08,0.72,0.36,1.0

In [5]:
df_full.shape

(120, 780)

In [6]:
#read in wages data
wages = pd.read_csv('../datasets/other/county-ests-employment-and-wages.csv')

FileNotFoundError: [Errno 2] File ../datasets/other/county-ests-employment-and-wages.csv does not exist: '../datasets/other/county-ests-employment-and-wages.csv'

In [7]:
wages.shape

NameError: name 'wages' is not defined

In [9]:
#Read in list of counties
hurricanes=pd.read_csv('../datasets/fip_codes_years.csv')

In [10]:
hurricanes.head(8)

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017
2,48167,Galveston,Major,TX,Harvey,Sept,3,1,2,4,2017
3,48039,Brazoria,Major,TX,Harvey,Sept,3,1,2,4,2017
4,48321,Matagorda,Major,TX,Harvey,Sept,3,1,2,4,2017
5,48057,Calhoun,Major,TX,Harvey,Sept,3,1,2,4,2017
6,48007,Aransas,Major,TX,Harvey,Sept,3,1,2,4,2017
7,48409,San Patricio,Major,TX,Harvey,Sept,3,1,2,4,2017

In [11]:
hurricanes.shape

(129, 11)

In [12]:
hurricanes['fip_code'].dtypes

dtype('int64')

In [13]:
#make sure fip codes datatype is consistent
hurricanes['fip_code']=hurricanes['fip_code'].map(lambda x:str(x))

In [14]:
hurricanes['fip_code'][hurricanes['fip_code'].isin(wages['area_fips'])]

NameError: name 'wages' is not defined

In [15]:
#Following 3 cells make a list of all the years, quarters, and FIP codes we want to scrape from wages database
year_list=[]
for i in hurricanes['hurricane'].unique():
    if i != 'Andrew':
        yr=int(hurricanes[hurricanes['hurricane']==i]['year'].mean())
        year_list.append(yr)

In [103]:
FIPS_list=[]
for i in hurricanes['hurricane'].unique():
    if i != 'Andrew':
        unq_fips=list(hurricanes[hurricanes['hurricane']==i]['fip_code'].unique())
        FIPS_list.append(unq_fips)

In [104]:
q_list=[]
for i in hurricanes['hurricane'].unique():
    if i != 'Andrew':
        new_q=[0,0,0,0]
        new_q[0]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_-2'].mean())
        new_q[1]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_-1'].mean())
        new_q[2]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_0'].mean())
        new_q[3]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_1'].mean())
        q_list.append(new_q)
q_list

[[1, 2, 3, 4],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [1, 2, 3, 4]]

In [105]:
wages.columns

Index(['year', 'quarter', 'area_fips', 'area_title',
       'quarterly_establishments', 'month_3_employment',
       'month_3_employment_percent_change_oty', 'month_3_employment_rank',
       'average_weekly_wages', 'average_weekly_wages_percent_change_oty',
       'average_weekly_wages_rank'],
      dtype='object')

In [106]:
len(year_list),len(FIPS_list),len(q_list)

(14, 14, 14)

In [107]:
wages.dtypes

year                                        int64
quarter                                     int64
area_fips                                  object
area_title                                 object
quarterly_establishments                   object
month_3_employment                         object
month_3_employment_percent_change_oty      object
month_3_employment_rank                    object
average_weekly_wages                       object
average_weekly_wages_percent_change_oty    object
average_weekly_wages_rank                  object
dtype: object

In [108]:
#Make an empty df and fill it with the rigth data
cols=wages.columns
wages_new1=pd.DataFrame(columns=cols)
wages_new2=pd.DataFrame(columns=cols)
wages_new3=pd.DataFrame(columns=cols)
wages_new4=pd.DataFrame(columns=cols)
for f in range(len(FIPS_list)):
    for l in range(len(FIPS_list[f])):
        if q_list[f][0]==1:
            df1=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==1)]
            df2=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==2)]
            df3=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==3)]
            df4=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==4)]
            #df=pd.concat([df1,df2,df3,df4])
        else:
            df1=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==2)]
            df2=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==3)]
            df3=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==4)]
            df4=wages[(wages['year']==(year_list[f]+1))&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==1)]
            #df=pd.concat([df1,df2,df3,df4])
        wages_new1=pd.concat([wages_new1,df1])
        wages_new2=pd.concat([wages_new2,df2])
        wages_new3=pd.concat([wages_new3,df3])
        wages_new4=pd.concat([wages_new4,df4])

In [109]:
wages_new1.shape,wages_new3.shape,wages_new3.shape,wages_new4.shape,

((57, 11), (57, 11), (57, 11), (57, 11))

In [110]:
#rename columns
for j in wages_new2.columns:
    wages_new2.rename(columns={j:j+'_q-1'})
for k in wages_new3.columns:
    wages_new3.rename(columns={k:k+'_q0'})
for l in wages_new4.columns:
    wages_new4.rename(columns={l:l+'_q1'})

In [119]:
w1=wages_new1.reset_index(drop=True)
w2=wages_new2.reset_index(drop=True)
w3=wages_new3.reset_index(drop=True)
w4=wages_new4.reset_index(drop=True)

In [120]:
#Convert 4 rows, each with 1 quarter into 1 row with 4 quarters
wages_fin=pd.concat([w1,w2,w3,w4],axis=1)

In [121]:
wages_fin.to_csv('../datasets/other/wages_final.csv', index=False)